@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

body{
    margin: 0;
}

.section{
    height: 100vh;
    max-width: 100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
    display: flex;
    justify-content: center;
}

.arrow{
    font-size: 1.2rem;
}

.glitch-wrapper {
    position: fixed;
    top: -100px;
    right: 215px;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    z-index: -1;
 }

 .show-glitch{
    top: 80px;
    transition: 3s;
 }

 .zind{
    z-index: 3;
 }
 
 .glitch {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sofia', cursive;
    color: darkslategray;
    letter-spacing: 1px;
    animation: shift 4s ease-in-out infinite alternate;
    transform: skewX(0deg);
    z-index: 5;
 }
 
 @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       transform: skewX(0deg);
    }
    41% {
       transform: skewX(10deg);
    }
    42% {
       transform: skewX(-10deg);
    }
    59% {
       transform: skewX(35deg) skewY(10deg);
    }
    60% {
       transform: skewX(-35deg) skewY(-10deg);
    }
    63% {
       transform: skewX(10deg) skewY(-5deg);
    }
    70% {
       transform: skewX(-30deg) skewY(-20deg);
    }
    71% {
       transform: skewX(10deg) skewY(-10deg);
    }
 }
 

.button1{
    position: fixed;
    top: 190px;
    right: -250px;
    cursor: pointer;
    height: 190px;
    width: 190px;
    font-size: 2rem;
    font-family: 'Sofia', cursive;
    color: darkslategray;
    border: 1px solid black;
    border-radius: 70%;
    transition: 1s;
    background-image: url(./images/ploca_n.png);
    background-position:center;
    background-size:250px;
    z-index: 2;   
}
.button2{
    position: fixed;
    top: 190px;
    right: -250px;
    cursor: pointer;
    height: 190px;
    width: 190px;
    font-size: 2rem;
    font-family: 'Sofia', cursive;
    color: darkslategray;
    border: 1px solid black;
    border-radius: 70%;
    transition: 1s;
    background-image: url(./images/ploca_n.png);
    background-position:center;
    background-size:250px; 
    z-index: 1;  
}
.button3{
    position: fixed;
    top: 190px;
    right: -250px;
    cursor: pointer;
    height: 190px;
    width: 190px;
    font-size: 2rem;
    font-family: 'Sofia', cursive;
    color: darkslategray;
    border: 1px solid black;
    border-radius: 70%;
    transition: 1s;
    background-image: url(./images/ploca_n.png);
    background-position:center;
    background-size:250px; 
    z-index: 0;  
}

.show-btn{
    z-index: 3;
    right: 250px;
    transition:3s ease-in-out;
    transform:rotateZ(-360deg);
}

.button-book{
    position: fixed;
    top: 155px;
    right: 42%;
    cursor: pointer;
    height: 260px;
    width: 260px;
    border: transparent;
    transition: 1s;
    background-image: url(./images/book.png);
    background-position:center;
    background-size:280px;   
}

.submenu{
    position: absolute;
    top: -22px;
    right: 44.4%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    z-index: -1;
}

.show-sub{
    z-index: 10;
}

.list{
    list-style: none;
    margin-left: 0;
}

.vinyl-btn1{
    color: black;
    text-decoration: none;
    font-family: 'Sofia', cursive;
}

.vinyl-btn2{
    color: black;
    text-decoration: none;
    font-family: 'Sofia', cursive;
}

.vinyl-btn3{
    color: black;
    text-decoration: none;
    font-family: 'Sofia', cursive;
}

.btn-white{
    color: white;
}

.tune-link{
    border: 1px solid black;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #f5f5f5;
    transition: 1s;
    background-color: grey;
    
}

.icon{
    color: transparent;
}
.select-icon{
    color: white;
}

.button-dis{
    cursor:wait;
}

.anim{
    animation: animation 6s linear 0s infinite normal none;
}

@keyframes animation {
    0% {
      transform: rotate(0);
      transform-origin: center;
    }
  
    100% {
      transform: rotate(360deg);
      transform-origin: center;
    }
  }

.section-center{
    position: absolute;
    top: 400px;
    height: 300px;
    width: 100%;
    margin: auto; 
    display: flex; 
    justify-content: center;
}

.container{
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}
/* --------------------------------------- */
.con-1{
    width: 200px;
    height: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    background-color: antiquewhite;
}
.con0{
    width: 350px;
    height: 100%;
    border-top: 1px solid black;
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    background-color: antiquewhite;
}
.con1{
    width: 350px;
    height: 100%;
    border-top: 1px solid black;
    /* border-left: 1px solid black; */
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    background-color: antiquewhite;
}
.con2{
    width: 350px;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    background-color: antiquewhite;
}
.con3{
    width: 350px;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    background-color: antiquewhite;
}
.con4{
    width: 150px;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    background-color: antiquewhite; 
}
/* ------------------------------------------- */
/* cont-1 */

.f1{
    grid-area: 2/1/3/3;
}
.f1r{
    grid-area: 1/1/2/2;

}

.g1{
    grid-area: 2/3/3/6;
}
.g1r{
    grid-area: 1/4/2/5;
}

.a1{
    grid-area: 2/6/3/9;
}
.a1r{
    grid-area: 1/7/2/8;
}

.b1{
    grid-area: 2/9/3/11;
}
.b1r{
    grid-area: 1/10/2/11;
    border-right: 1px solid black;
}

.gb1{
    grid-area: 1/2/2/4;
}

.ab1{
    grid-area: 1/5/2/7;
}

.bb1{
    grid-area: 1/8/2/10;
}
/* cont0 */

.c2{
    grid-area: 2/1/3/3;
}
.c2r{
    grid-area: 1/1/2/2;

}

.d2{
    grid-area: 2/3/3/6;
}
.d2r{
    grid-area: 1/4/2/5;
}

.e2{
    grid-area: 2/6/3/8;
}
.e2r{
    grid-area: 1/7/2/8;
    border-right: 1px solid black;
}
.f2{
    grid-area: 2/8/3/10;
}
.f2r{
    grid-area: 1/8/2/9;
}

.g2{
    grid-area: 2/10/3/13;
}
.g2r{
    grid-area: 1/11/2/12;
}

.a2{
    grid-area: 2/13/2/16;
}
.a2r{
    grid-area: 1/14/2/15;
}

.b2{
    grid-area: 2/16/3/18;
}
.b2r{
    grid-area: 1/17/2/18;
    border-right: 1px solid black;
}

.db2{
    grid-area: 1/2/2/4;
}
.eb2{
    grid-area: 1/5/2/7;
}
.gb2{
    grid-area: 1/9/2/11;
}
.ab2{
    grid-area: 1/12/2/14;
}
.bb2{
    grid-area: 1/15/2/17;
}

/* cont1 -----------------------------------------------*/
.c3{
    grid-area: 2/1/3/3;
}
.c3r{
    grid-area: 1/1/2/2;

}

.d3{
    grid-area: 2/3/3/6;
}
.d3r{
    grid-area: 1/4/2/5;
}

.e3{
    grid-area: 2/6/3/8;
}
.e3r{
    grid-area: 1/7/2/8;
    border-right: 1px solid black;
}
.f3{
    grid-area: 2/8/3/10;
}
.f3r{
    grid-area: 1/8/2/9;
}

.g3{
    grid-area: 2/10/3/13;
}
.g3r{
    grid-area: 1/11/2/12;
}

.a3{
    grid-area: 2/13/2/16;
}
.a3r{
    grid-area: 1/14/2/15;
}

.b3{
    grid-area: 2/16/3/18;
}
.b3r{
    grid-area: 1/17/2/18;
    border-right: 1px solid black;
}

.db3{
    grid-area: 1/2/2/4;
}
.eb3{
    grid-area: 1/5/2/7;
}
.gb3{
    grid-area: 1/9/2/11;
}
.ab3{
    grid-area: 1/12/2/14;
}
.bb3{
    grid-area: 1/15/2/17;
}

/* ------------------------------------------- */
/* cont2 */
.c4{
    grid-area: 2/1/3/3;
}
.c4r{
    grid-area: 1/1/2/2;
}

.d4{
    grid-area: 2/3/3/6;
}
.d4r{
    grid-area: 1/4/2/5;
}

.e4{
    grid-area: 2/6/3/8;
}
.e4r{
    grid-area: 1/7/2/8;
    border-right: 1px solid black;
}

.f4{
    grid-area: 2/8/3/10;
}
.f4r{
    grid-area: 1/8/2/9;
}

.g4{
    grid-area: 2/10/3/13;
}
.g4r{
    grid-area: 1/11/2/12;
}

.a4{
    grid-area: 2/13/2/16;
}
.a4r{
    grid-area: 1/14/2/15;
}

.b4{
    grid-area: 2/16/3/18;
}
.b4r{
    grid-area: 1/17/2/18;
    border-right: 1px solid black;
}

.db4{
    grid-area: 1/2/2/4;
}
.eb4{
    grid-area: 1/5/2/7;
}
.gb4{
    grid-area: 1/9/2/11;
}
.ab4{
    grid-area: 1/12/2/14;
}
.bb4{
    grid-area: 1/15/2/17;
}

/* ------------------------------------------- */
/* cont3 */
.c5{
    grid-area: 2/1/3/3;
}
.c5r{
    grid-area: 1/1/2/2;
}

.d5{
    grid-area: 2/3/3/6;
}
.d5r{
    grid-area: 1/4/2/5;
}

.e5{
    grid-area: 2/6/3/8;
}
.e5r{
    grid-area: 1/7/2/8;
    border-right: 1px solid black;
}

.f5{
    grid-area: 2/8/3/10;
}
.f5r{
    grid-area: 1/8/2/9;
}

.g5{
    grid-area: 2/10/3/13;
}
.g5r{
    grid-area: 1/11/2/12;
}

.a5{
    grid-area: 2/13/2/16;
}
.a5r{
    grid-area: 1/14/2/15;
}

.b5{
    grid-area: 2/16/3/18;
}
.b5r{
    grid-area: 1/17/2/18;
    border-right: 1px solid black;
}

.db5{
    grid-area: 1/2/2/4;
}
.eb5{
    grid-area: 1/5/2/7;
}
.gb5{
    grid-area: 1/9/2/11;
}
.ab5{
    grid-area: 1/12/2/14;
}
.bb5{
    grid-area: 1/15/2/17;
}
/*-------------------------------------*/
/* cont3 */
.c6{
    grid-area: 2/1/3/3;
}
.c6r{
    grid-area: 1/1/2/2;
}

.d6{
    grid-area: 2/3/3/6;
}
.d6r{
    grid-area: 1/4/2/5;
}

.e6{
    grid-area: 2/6/3/8;
}
.e6r{
    grid-area: 1/7/2/8;
    border-right: 1px solid black;
}

.db6{
    grid-area: 1/2/2/4;
}
.eb6{
    grid-area: 1/5/2/7;
}

/* ********************************* */

.white{
    background-color: antiquewhite;
    border-right: 1px solid black;
}
.white-rest{
    background-color: antiquewhite;
}
.black{
    background-color: black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* ------------------------------------------- */
.press{
    /* background: #F6F8F9; */
    /* background: radial-gradient(circle farthest-side at bottom center, #F6F8F9 0%, #E5EBEE 30%, #D7DEE3 60%, #F5F7F9 100%); */
    background-color: orange;
}
.pressb{
    /* background: #B8E1FC; */
    /* background: linear-gradient(to top, #B8E1FC 0%, #231421 91%); */
    background-color:blueviolet;
}
/* ---------------------------------------------------------------------- */